Package: net.ymlab.dev.BulletDark
Name: BulletDark
Version: 1.0-3
Description: 
Section: Tweaks
Depends: firmware (>= 7.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: h4ck
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

